@tailwind base;
@tailwind components;
@tailwind utilities;
@media (max-width: 500px) {
    .logo {
        width: 8vw; /* Aumenta en móviles */
        height: 8vw;
    }
}

@media (min-width: 1500px) {
    .logo {
        width: 3vw; /* Reduce en pantallas grandes */
        height: 3vw;
    }
}

.container{}

.logo {
    border-radius: 10%;
}

.altura-fija {
    height: 25vh;
}

.mt-custom {
    border-radius: 5px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}
