@tailwind base;
@tailwind components;
@tailwind utilities;
@media (max-width: 500px) {
    .logo {
        width: 10%; /* Aumenta en móviles */
        height: 10%;
    }
}
@media (min-width: 500px) {
    .logo {
        width: 3%; /* Reduce en pantallas grandes */
        height: 3%;
    }
}



.logo {
    border-radius: 10%;
}

.altura-fija {
    height: 25vh;
}

.mt-custom {
    border-radius: 5px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

